{{#isDefaultVariant}}
import { useBlockProps } from '@wordpress/block-editor';
{{/isDefaultVariant}}
{{#isInnerBlocksVariant}}
import { useBlockProps, useInnerBlocksProps } from '@wordpress/block-editor';
{{/isInnerBlocksVariant}}
{{#isInteractiveVariant}}
import { useBlockProps } from '@wordpress/block-editor';
{{/isInteractiveVariant}}

/**
 * @param {Object}   props               Properties passed to the function.
 * @param {Object}   props.attributes    Available block attributes.
 * @param {Function} props.setAttributes Function that updates individual attributes.
 *
 * @return {Element} Element to render.
 */
export default function Edit({ attributes, setAttributes }) {
	const blockProps = useBlockProps();
    {{#isInnerBlocksVariant}}
	const innerBlocksProps = useInnerBlocksProps({}, {});
	{{/isInnerBlocksVariant}}

	return (
		<div {...blockProps}>
			{{#isInnerBlocksVariant}}
			<div {...innerBlocksProps} />
			{{/isInnerBlocksVariant}}
		</div>
	);
}
